<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ glide:podcast:cover_art square='57' }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ glide:podcast:cover_art square='114' }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ glide:podcast:cover_art square='72' }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ glide:podcast:cover_art square='144' }}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ glide:podcast:cover_art square='152' }}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ glide:podcast:cover_art square='152' }}" />
<link rel="icon" type="image/png" href="{{ glide:podcast:cover_art square='32' format='png' }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ glide:podcast:cover_art square='16' format='png' }}" sizes="16x16" />
<meta name="application-name" content="{{ podcast:title }}"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ glide:podcast:cover_art square='144' }}" />
