<div data-turbo-permanent id="player" x-data>
    <div class="player" x-show="$store.player.show"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="transform translate-y-24"
        x-transition:enter-end="transform translate-y-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="transform translate-y-0"
        x-transition:leave-end="transform translate-y-24">

        <img src="{{ glide:podcast:cover_art square="160" }}" alt="{{ podcast:title }} Cover Art" width="80" height="80" class="p-2 border-r hidden md:block">
        <div class="pl-3 pr-6 border-r h-full justify-center hidden md:flex md:flex-col">
            <a :href="$store.player.episode_url" class="font-bold hover:text-gray-700 whitespace-nowrap" x-text="$store.player.title"></a>
            <div class="text-xs text-gray-700 mt-px font-mono uppercase tracking-widest whitespace-no-wrap">{{ podcast:title }}</div>
        </div>
        <audio crossorigin playsinline>
            <source src="" type="audio/mp3">
        </audio>
    </img>
</div>
