<div class="max-w-6xl mx-auto px-6 md:py-16 relative z-10">
    <div class="flex flex-col md:flex-row items-center">
        <div class="order-2 md:order-first md:pr-32 flex-1 py-8">
            <h1 class="mb-6">This is a 404</h1>
            <p class="text-gray-500 w-196 text-lg">Either we lost this page or you lost your way. Which is it?</p>
            <div class="flex items-center mt-8 space-x-6">
                {{ links }}
                    <a href="{{ link }}">
                        <img class="h-10 transition duration-200 ease-in-out filter transform-gpu hover:drop-shadow-lg hover:-translate-y-1"
                            src="{{ badge }}"
                            alt="Listen on {{ title }}" />
                    </a>
                {{ /links }}
            </div>
        </div>
        <div class="w-full md:w-[500px]">
            <a href="/">
                <img src="{{ glide:podcast:cover_art square="1000" }}" alt="{{ podcast:title }} Cover Art" width="500" height="500" class="shadow-xl md:shadow-3xl">
            </a>
        </div>
    </div>
</div>
