@import "tailwindcss";

@theme {
    --font-sans: 'Inter var', 'Inter', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;

    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);

    --shadow-3xl: 40px 60px 90px -15px rgba(0, 0, 0, 0.3);
}

@custom-variant tall (@media (min-height: 900px));

@import "./style.css";
